<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chineseName</key>
		<string>水瓶座</string>
		<key>name</key>
		<string>aquarius</string>
		<key>date</key>
		<string>1.20~2.18</string>
		<key>imageName</key>
		<string>aquarius_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>双鱼座</string>
		<key>name</key>
		<string>pisces</string>
		<key>date</key>
		<string>2.19~3.20</string>
		<key>imageName</key>
		<string>pisces_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>白羊座</string>
		<key>name</key>
		<string>aquarius</string>
		<key>date</key>
		<string>3.21~4.19</string>
		<key>imageName</key>
		<string>aries_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>金牛座</string>
		<key>name</key>
		<string>taurus</string>
		<key>date</key>
		<string>4.20~5.20</string>
		<key>imageName</key>
		<string>taurus_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>双子座</string>
		<key>name</key>
		<string>gemini</string>
		<key>date</key>
		<string>5.21~6.21</string>
		<key>imageName</key>
		<string>gemini_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>巨蟹座</string>
		<key>name</key>
		<string>cancer</string>
		<key>date</key>
		<string>6.22~7.22</string>
		<key>imageName</key>
		<string>cancer_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>狮子座</string>
		<key>name</key>
		<string>leo</string>
		<key>date</key>
		<string>7.23~8.22</string>
		<key>imageName</key>
		<string>leo_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>处女座</string>
		<key>name</key>
		<string>virgo</string>
		<key>date</key>
		<string>8.23~9.22</string>
		<key>imageName</key>
		<string>virgo_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>天秤座</string>
		<key>name</key>
		<string>libra</string>
		<key>date</key>
		<string>9.23~10.23</string>
		<key>imageName</key>
		<string>libra_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>天蝎座</string>
		<key>name</key>
		<string>scorpio</string>
		<key>date</key>
		<string>10.24~11.22</string>
		<key>imageName</key>
		<string>scorpio_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>射手</string>
		<key>name</key>
		<string>sagittarius</string>
		<key>date</key>
		<string>11.23~12.21</string>
		<key>imageName</key>
		<string>sagittarius_image</string>
	</dict>
	<dict>
		<key>chineseName</key>
		<string>摩羯座</string>
		<key>name</key>
		<string>capricorn</string>
		<key>date</key>
		<string>12.22~1.19</string>
		<key>imageName</key>
		<string>capricorn_image</string>
	</dict>
</array>
</plist>
